{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Meta Add{% endblock title %}

{% block content %}
    <h3 class="page-header">Meta add</h3>
    <h5> Notice </h5>
    <p> DB Name: original database name which is shown in mysqldump.</p>
    <p> New DB Name: new database name to be imported to test_server.(Please specify the name which is not duplicated.) </p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Summit</button>
        </div>
      </div>
    </form>

    <a href="{% url 'app:meta_list' %}" class="btn btn-default btn-sm">Return to Home</a>
{% endblock content %}
