{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Upload Replay Query file{% endblock title %}

{% block content %}

    <h3 class="page-header">Upload Replay Query file</h3>
    <h5> Notice </h5>
    <p> Please choose the correct filetype. <p>
    <p> pt-query-digest - output of pg-query-digest (statement delimiter : '\G')</p>
    <p> query-analyzer - output of query-analyzer (statement delimiter : '\n')</p>
    <p> sql - General SQLs (statement delimiter : ';')</p>

      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Commit</button>
        </div>
      </div>
    </form>



    <a href="{% url 'app:replay_list' meta_id=meta_id %}" class="btn btn-default btn-sm">Back</a>
{% endblock content %}
